In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [18]:
#22 สามารถใช้เทคนิคใดก็ได้ตามที่สอนมา ใช้ Decision Tree Algorithm แล้วให้ผลลัพธ์ที่ดีที่สุดที่เป็นไปได้ (อาจจะรวม Grid Search กับ Normalization/Standardization ?)
df = pd.read_csv('cleaned_data.csv')
df

,Age,Sex,Job,Housing,Saving accounts,Credit amount,Duration,Purpose,Risk
0,22,female,2,own,little,5951,48,radio/TV,bad
1,49,male,1,own,little,2096,12,education,good
2,45,male,2,free,little,7882,42,furniture/equipment,good
3,53,male,2,free,little,4870,24,car,bad
4,53,male,2,own,quite rich,2835,24,furniture/equipment,good
...,...,...,...,...,...,...,...,...,...
812,31,female,1,own,little,1736,12,furniture/equipment,good
813,40,male,3,own,little,3857,30,car,good
814,38,male,2,own,little,804,12,radio/TV,good
815,23,male,2,free,little,1845,45,radio/TV,bad
816,27,male,2,own,moderate,4576,45,car,good

In [19]:
df = pd.get_dummies(df, drop_first=True)
df

,Age,Job,Credit amount,Duration,Sex_male,Housing_own,Housing_rent,Saving accounts_moderate,Saving accounts_quite rich,Saving accounts_rich,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others,Risk_good
0,22,2,5951,48,0,1,0,0,0,0,0,0,0,0,1,0,0,0
1,49,1,2096,12,1,1,0,0,0,0,0,0,1,0,0,0,0,1
2,45,2,7882,42,1,0,0,0,0,0,0,0,0,1,0,0,0,1
3,53,2,4870,24,1,0,0,0,0,0,1,0,0,0,0,0,0,0
4,53,2,2835,24,1,1,0,0,1,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
812,31,1,1736,12,0,1,0,0,0,0,0,0,0,1,0,0,0,1
813,40,3,3857,30,1,1,0,0,0,0,1,0,0,0,0,0,0,1
814,38,2,804,12,1,1,0,0,0,0,0,0,0,0,1,0,0,1
815,23,2,1845,45,1,0,0,0,0,0,0,0,0,0,1,0,0,0
816,27,2,4576,45,1,1,0,1,0,0,1,0,0,0,0,0,0,1

In [20]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
df_minmax = min_max_scaler.fit_transform(df)
df_minmax

array([[0.05357143, 0.66666667, 0.31368989, ..., 0.        , 0.        ,
        0.        ],
       [0.53571429, 0.33333333, 0.10157368, ..., 0.        , 0.        ,
        1.        ],
       [0.46428571, 0.66666667, 0.41994057, ..., 0.        , 0.        ,
        1.        ],
       ...,
       [0.33928571, 0.66666667, 0.03048311, ..., 0.        , 0.        ,
        1.        ],
       [0.07142857, 0.66666667, 0.08776274, ..., 0.        , 0.        ,
        0.        ],
       [0.14285714, 0.66666667, 0.23803235, ..., 0.        , 0.        ,
        1.        ]])

In [21]:
df_norm = pd.DataFrame(df_minmax, columns=df.columns)
df_norm

,Age,Job,Credit amount,Duration,Sex_male,Housing_own,Housing_rent,Saving accounts_moderate,Saving accounts_quite rich,Saving accounts_rich,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others,Risk_good
0,0.053571,0.666667,0.313690,0.647059,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.535714,0.333333,0.101574,0.117647,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.464286,0.666667,0.419941,0.558824,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.607143,0.666667,0.254209,0.294118,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.607143,0.666667,0.142236,0.294118,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
812,0.214286,0.333333,0.081765,0.117647,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
813,0.375000,1.000000,0.198470,0.382353,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
814,0.339286,0.666667,0.030483,0.117647,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
815,0.071429,0.666667,0.087763,0.602941,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
816,0.142857,0.666667,0.238032,0.602941,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [22]:
X_norm = df_norm.drop(['Risk_good'], axis=1)
y_norm = df_norm['Risk_good']
X_norm

,Age,Job,Credit amount,Duration,Sex_male,Housing_own,Housing_rent,Saving accounts_moderate,Saving accounts_quite rich,Saving accounts_rich,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others
0,0.053571,0.666667,0.313690,0.647059,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.535714,0.333333,0.101574,0.117647,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.464286,0.666667,0.419941,0.558824,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.607143,0.666667,0.254209,0.294118,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.607143,0.666667,0.142236,0.294118,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
812,0.214286,0.333333,0.081765,0.117647,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
813,0.375000,1.000000,0.198470,0.382353,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
814,0.339286,0.666667,0.030483,0.117647,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
815,0.071429,0.666667,0.087763,0.602941,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
816,0.142857,0.666667,0.238032,0.602941,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
from sklearn.model_selection import train_test_split
X_train_norm, X_test_norm, y_train_norm, y_test_norm =train_test_split(X_norm, y_norm, test_size=0.2, random_state=35)

In [24]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
param_combination = {'max_depth':[4,8,16,32,64], 'min_samples_leaf':[1,2,4,8,12,16]}
grid_search = GridSearchCV(DecisionTreeClassifier(), param_combination, verbose=1)

In [25]:
grid_search.fit(X_train_norm, y_train_norm)

Fitting 5 folds for each of 30 candidates, totalling 150 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 150 out of 150 | elapsed:    1.4s finished

GridSearchCV(cv=None, error_score=nan,
             estimator=DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort='deprecated',
                                              random_state=None,
                                              splitter='best'),
             iid='deprecated', n_jobs=None,
             param_grid={'max_depth': [4, 8, 16, 32, 64],
                         'min_samples_leaf': [1, 2, 4, 8, 12, 16]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=1)

In [26]:
grid_search.best_params_

{'max_depth': 4, 'min_samples_leaf': 8}

In [27]:
predicted = grid_search.predict(X_test_norm)

In [28]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
confusion_matrix(y_test_norm, predicted)

array([[ 11,  37],
       [  9, 107]], dtype=int64)

In [29]:
print('Decision Tree+normalization+HT')
print('Accuracy = {:.4f}'.format(accuracy_score(y_test_norm,predicted)))
print('Precision ={:.4f}'.format(precision_score(y_test_norm,predicted)))
print('Recall = {:.4f}'.format(recall_score(y_test_norm,predicted)))
print('F1 score ={:.4f}'.format(f1_score(y_test_norm,predicted)))

Decision Tree+normalization+HT
Accuracy = 0.7195
Precision =0.7431
Recall = 0.9224
F1 score =0.8231

In [30]:
# ได้ผลลัพธ์เหมือนกับ Decision Tree+HT เลยครับ อาจจะเป็นเพราะการทำ feature scaling ไม่ค่อยมีผลต่อ tree-based model อยู่แล้ว