In [1]:
#1

In [2]:
a = [[[1,3],[3,4]],[5,[5,6],[7,8]]]
a[1][1][1]

6

In [3]:
#2

In [4]:
lst = [['Harrison', 'Ford', 70],['Tony','Adams',50],['David','Beckham',40],['Denis','Wise',45]]
print(lst)

[['Harrison', 'Ford', 70], ['Tony', 'Adams', 50], ['David', 'Beckham', 40], ['Denis', 'Wise', 45]]

In [9]:
#3

In [10]:
lst = [['Harrison', 'Ford', 70],['Tony','Adams',50],['David','Beckham',40],['Denis','Wise',45]]
del lst[3]
print(lst)

[['Harrison', 'Ford', 70], ['Tony', 'Adams', 50], ['David', 'Beckham', 40]]

In [11]:
#4

In [12]:
lst.insert(0,['Zidedine','Zidane',55])
print(lst)

[['Zidedine', 'Zidane', 55], ['Harrison', 'Ford', 70], ['Tony', 'Adams', 50], ['David', 'Beckham', 40]]

In [13]:
#5

In [14]:
lst[1][2] = 80
print(lst)

[['Zidedine', 'Zidane', 55], ['Harrison', 'Ford', 80], ['Tony', 'Adams', 50], ['David', 'Beckham', 40]]